//colors: 
$home_background : #0d141b;
$home_text_color : #fdfdfd;
$nav_link_color : rgb(207, 207, 207);
$log_out_btn_color : rgb(177, 14, 41);

html {
  margin: none;
  padding: none;
  width: 100%;
  position: relative;

  body {
    background-color: $home_background;
    color: $home_text_color;
    font-family: 'Courier New', Courier, monospace;

    .main { 

      nav {
        background-color: transparent;
        display: flex;
        justify-content: space-around;
        width: 100%;

        .nav-link {
          text-decoration: none;
          color: $nav_link_color;
          transition: all 100ms 100ms ease-in;

          &:hover {
            transform: scale(1.2);
            color: $home_text_color;
          }
        }

        .signin-btn {
          text-decoration: none;
          text-align: center;
          cursor: pointer;
          border: 1px solid $nav_link_color;
          border-radius: 20px;
          background-color: transparent;
          color: $nav_link_color;
          width: 100px;
          padding: 5px;
          transition: all 200ms 100ms ease-in;

          &:hover {
            background-color: rgb(107, 157, 172);
            border-color: rgb(107, 157, 172);
            filter: contrast(1.2);
            color: $home_text_color;
          }
        }

        .signup-btn {
          text-decoration: none;
          text-align: center;
          cursor: pointer;
          border: none;
          border-radius: 20px;
          background-color: rgb(25, 106, 212);
          color: $nav_link_color;
          width: 100px;
          padding: 5px;
          transition: all 200ms 100ms ease-in;

          &:hover {
            transform: scale(1.05);
            filter: contrast(1.2);
            color: $home_text_color;
          }
        }

        .log-out-btn {
          cursor: pointer;
          border: none;
          border-radius: 20px;
          background-color: $log_out_btn_color;
          color: $nav_link_color;
          width: 100px;
          padding: 5px;
          transition: all 200ms 100ms ease-in;

          &:hover {
            transform: scale(1.1);
            filter: contrast(1.2);
            color: $home_text_color;
          }
        }
      }

      .home-text {
        background-color: $home_background;
        color: $home_text_color;
      }

      .posts {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .post-card {
          box-shadow: 1em 1em 2em rgba(0,0,0,.2);
          margin: 30px;
          border-radius: 20px;
          padding: 20px;
          width: 200px;
          height: auto;
          transition: transform 300ms 50ms ease-in-out;

          .like-btn {
            margin: 8px;
            margin-right: 10px;
            cursor: pointer;
            background-color: rgb(18, 146, 206);
            color: $home_text_color;
            border-radius: 50%;
            padding: 5px;
            border: none;
            transform: scale(1.2);
            transition: transform 200ms 50ms ease-in;

            &:hover {
              transform: scale(1.3);
            }
          }

          .delete-btn {
            margin: 8px;
            padding: 3px;
            cursor: pointer;
            background-color: rgb(230, 29, 29);
            color: $home_text_color;
            border-radius: 50%;
            padding: 5px;
            border: none;
            transform: scale(1.2);
            transition: transform 200ms 50ms ease-in;

            &:hover {
              transform: scale(1.3);
            }
          }

          .profile-link {
            text-decoration: none;
            color: $home_text_color;
            margin: auto;
            transition: color 100ms 100ms;

            &:hover {
              color: $nav_link_color;
            }
          }

          p {
            font-size: 14px;
            color: $nav_link_color;
            margin-bottom: 30px;
          }

          &:hover {
            transform: translateY(-5px);
          }
        }
      }
    }
  }
}

.create-post {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 500px;

  textarea {
    background-color: #131d27;
    color: $home_text_color;
    border-radius: 2px;
  }

  button {
    cursor: pointer;
    margin: auto;
    margin-top: 10px;
    width: 100px;
    padding: 5px;
    border: none;
    border-radius: 3px;
    background-color: rgb(7, 61, 160);
    color: $nav_link_color;
    transition: all 200ms 200ms ease-in;

    &:hover {
      filter: contrast(1.2);
      color: $home_text_color;
    }
  }
}

.main-text {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;

  h1 {
    font-size: 35px;
  }

  p {
    margin: auto;
    width: 400px;
    letter-spacing: 1.5px;
    color: $nav_link_color;
    font-size: 16px;
  }
}

.profile-page {
  box-shadow: 1em 1em 2em black;
  border-radius: 10%;
  margin: 100px;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  text-align: center;

  .main-infos {
    display: flex;
    margin: auto;
    box-shadow: 1em 1em 2em rgba(0,0,0,.2);
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 30px;

    h2 {
      margin: 30px;
      font-size: 20px;
    }
  }

  .description {
    box-shadow: 1em 1em 2em rgba(0,0,0,.2);
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 40px;

    h2 {
      margin-top: -2px;
    }

    p {
      color: $nav_link_color;
    }
  }

  .display-posts {
    box-shadow: 1em 1em 2em rgba(0,0,0,.2);
    padding: 5px;
    border-radius: 20px;
    margin: 80px;
    margin-left: 250px;
    margin-right: 250px;

    h2 {
      margin-top: -2px;
    }
  }

  .edit-profile-form {
    box-shadow: 1em 1em 2em rgba(0,0,0,.2);
    padding: 5px;
    border-radius: 20px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: auto;

    input {
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 10px;
      border-radius: 3px;
      background-color: #131d27;
      color: $home_text_color;
    }

    textarea {
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 10px;
      border-radius: 3px;
      background-color: #131d27;
      color: $home_text_color;
    }

    button {
      cursor: pointer;
      border: none;
      background-color: rgb(13, 33, 148);
      color: $nav_link_color;
      transition: all 200ms 200ms ease-in;
      width: 200px;
      padding: 5px;
      margin: auto;
      margin-top: 10px;
      border-radius: 5%;
      margin-bottom: 10px;

      &:hover {
        filter: contrast(1.2);
        color: $home_text_color;
      }
    }
  }
}

.register-form {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  text-align: center;

  input {
    border: none;
    border-radius: 3px;
    background-color: #131d27;
    color: $home_text_color;
    width: 400px;
    margin: auto;
    margin-bottom: 15px;
    transition: all 200ms 100ms ease-out;
    padding: 5px;

    &:focus {
      border: 1px solid $nav_link_color;
      transform: scale(1.05);
    }
  }

  button {
    cursor: pointer;
    width: 100px;
    padding: 5px;
    margin: auto;
    margin-top: 10px;
    border: 1px solid $nav_link_color;
    border-radius: 20px;
    color: $nav_link_color;
    background-color: transparent;
    transition: all 200ms 100ms ease-in;

    &:hover {
      transform: scale(1.05);
      color: $home_text_color;
      background-color: rgb(25, 106, 212);
      border-color: rgb(25, 106, 212);
    }
  }

}